:root {
    --card-background-color: #303030;
    --card-border-color: #7A7A7A;
    --card-border-width: 2px;
    --card-corner-radius: 10px;

    --inner-card-corner-radius: 5px;

    --inner-card-section-color: hsl(0, 0%, 35%);
    --inner-card-section-border-color: #989898;

    --btn-svg-stroke-color: hsl(0, 0%, 90%);
    --msg-color: hsl(0, 0%, 90%);
    --user-msg-background-color: hsl(0, 0%, 20%);
    --assistant-msg-background-color: hsl(0, 0%, 17.5%);
}

body {
    background-color: #1A1A1A;
}

#workspace-tabs {
    display: flex;
    flex-direction: column;
}

.workspace-tabs-btns {
    width: 15%;
    overflow: hidden;
    display: flex;
    margin: 10px auto;
    padding: 5px 0px;
    border-radius: 5px;
    border-style: solid;
    border-width: var(--card-border-width);
    border-color: var(--card-border-color);
    background-color: var(--card-background-color);
    align-self: center;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.workspace-tabs-btns button {
    background-color: #4B4A4A;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.3s;
}

.workspace-tabs-btns button:hover {
    background-color: #939393;
}

.workspace-tabs-btns button.active {
    background-color: #C1C1C1;
}

.workspace-tabcontent {
    display: none;
}