<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send Data Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="chat-container">
        <div id="chat-list-box">
            <button id="new-chat-btn">New Chat</button>
            <div id="chat-list"></div>
        </div>
        <div id="chat-box">
            <div id="chat-messages"></div>
            <input type="text" id="chat-input" placeholder="Enter text">
            <button id="chat-send-btn">Send</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
